/* navigation */

.navbar {
  background-color: rgb(61, 148, 210);
  font-size: 0.7rem;
  letter-spacing: 0.8rem;
  font-weight: bold;
  font-family: 'Century Gothic';
  
}

.navbar-brand img {
  height: 3rem;
}

.navbar .navbar-nav li {
  padding-right: 0.6rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: greenyellow;
}

/* landing */
.home-inner {
  background-image: url(img/computers.png);
  background-size: contain;
}

.caption {
  width: 100%;
  color: white;
  position: absolute;
  top: 30%;
  z-index: 1;
}

/* course */
#course {
  background-color: lightgray;
}

/* features */
.jumbotron {
  color: black;
  margin-bottom: 0;
  padding-bottom: 0;
}

.features-list {
  list-style: none;
  padding-left: 0;
}

/* resources */
.resource p {
  font-size: 0.9rem;
}

/* clients */

.client {
  width: 80%;
  border-radius: 50%;
  min-width: 15vw; /* viewport width */
}

/* contact */

footer,
footer a {
  color: grey;
}

footer img {
  height: 3rem;
  margin: 1rem 0;
}

footer a:hover,
footer p,
footer h3 {
  color: black;
}

/* own media queries */

@media all and (max-width: 767px) {
  .client {
    width: 50%;
  }
}

/*============= SECTION =============*/

/* .narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
} */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
